#mitoast {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  right: 2.5%;
  top: 50%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  max-width: 350px;
  width: 350px;
}

#mitoast.mostrar {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
  animation: fadein 0.5s, fadeout 0.5s 4.6s;
}

@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to {right: 2.5%; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 2.5%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}

#mitoast.cerrar {
  /* visibility: visible; */
  -webkit-animation: fadeout 0.5s 4.8s;
  animation: fadeout 0.5s 4.8s;
}

@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}